.drag-area{
    position: relative;
}

.draggable{
    position: absolute;
}
.dragger {
    position: absolute;
    display: none;
    width: 30px;
    height: 30px;
    left: -15px;
    top:-15px;
    
}
.draggable:hover>.dragger{
    display: block;
}

#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}
